# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# =========================
# NODE / REACT
# =========================
node_modules/
dist/
build/

# =========================
# OS / IDE
# =========================
.vscode/
.idea/
.DS_Store

# =========================
# LOGS
# =========================
*.log

# =========================
# FIREBASE
# =========================
firebase-key.json
