# Environment variables & secrets
.env
firebase-admin.json

# Node / React
node_modules/
npm-debug.log*
yarn-error.log*

# Python
venv/
__pycache__/
*.pyc

# Tests & build
/build
/dist

# IDE & OS
.vscode/
.idea/
.DS_Store

# Lock files (OPTIONNEL)
package-lock.json
